@model MainViewModel

<form>
    <table class="table table-responsive">
        <tr>
            <th />
            <th>Nome </th>
            <th>CNPJ </th>
            <th>Telefone </th>
            <th>Email</th>
            <th>CEP</th>
            <th>Numero</th>
            <th>Complemento</th>
        </tr>

        @foreach (FornecedorViewModel u in Model.fornecedores)
        {
            <tr>
                <td>
                    <a href="" class="btn btn-danger">Apagar</a>
                    <a href="" class="btn btn-info">Editar</a>
                </td>

                <td>@u.Nome</td>
                <td>@u.CNPJ</td>
                <td>@u.Telefone</td>
                <td>@u.Email</td>
                <td>@u.CEP</td>
                <td>@u.Numero</td>
                <td>@u.Complemento</td>

            </tr>
        }
    </table>
</form>