@model MainViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form>
    <table class="table table-responsive">
        <tr>
            <th />
            <th>Nome </th>
            <th>CPF/CNPJ </th>
            <th>Email </th>
            <th>Telefone</th>
            <th>Data de Nascimento</th>
            <th>Cep</th>
            <th>Número</th>
            <th>Complemento</th>
        </tr>

        @foreach (ClienteViewModel u in Model.clientes)
        {
            <tr>
                <td>
                    <a href="/Cliente/Delete?pk=@u.Codigo" class="btn btn-danger">Apagar</a>
                    <a class="btn btn-info">Editar</a>
                </td>

                <td>@u.Nome</td>
                @if (u.CNPJ != "")
                {
                    <td>@u.CNPJ</td>
                }
                else
                {
                    <td>@u.CPF</td>
                }

                <td>@u.Email</td>
                <td>@u.Telefone</td>
                <td>@u.DataNascimento</td>
                <td>@u.CEP</td>
                <td>@u.Numero</td>
                <td>@u.Complemento</td>
            </tr>
        }
    </table>
</form>